<header>
  <div class="container">
    <div class="logo">
      <h1 class="fakelogo">Bordle</h1>
    </div>
    <div class="navigation">
      <ul>
        <li>Home</li>
        <li>Play Normal</li>
        <li>Play God</li>
        <li>Sign Out</li>
      </ul>
    </div>
  </div>
</header>
