<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/game.css" />
    <script src="javascripts/game.js"></script>
    <title>Bordle</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <h1 class="fakelogo">
            <a href="/home"
              ><span class="bigB">🅱️</span><span class="ordle">ordle</span></a
            >
          </h1>
        </div>
        <div class="navigation">
          <ul>
            <li><a href="/home">Home</a></li>
            <li onclick="renderGame('normal')">Play Normal</li>
            <li onclick="renderGame('god')">Play God</li>
            <li><a href="/login">Sign Out</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="game-container">
      <div class="game-board">
        <div class="announcement">Dummy text</div>
        <div class="grid-squares">
          <div class="grid-square" word="1" char="1"></div>
          <div class="grid-square" word="1" char="2"></div>
          <div class="grid-square" word="1" char="3"></div>
          <div class="grid-square" word="1" char="4"></div>
          <div class="grid-square" word="1" char="5"></div>
          <div class="grid-square" word="2" char="1"></div>
          <div class="grid-square" word="2" char="2"></div>
          <div class="grid-square" word="2" char="3"></div>
          <div class="grid-square" word="2" char="4"></div>
          <div class="grid-square" word="2" char="5"></div>
          <div class="grid-square" word="3" char="1"></div>
          <div class="grid-square" word="3" char="2"></div>
          <div class="grid-square" word="3" char="3"></div>
          <div class="grid-square" word="3" char="4"></div>
          <div class="grid-square" word="3" char="5"></div>
          <div class="grid-square" word="4" char="1"></div>
          <div class="grid-square" word="4" char="2"></div>
          <div class="grid-square" word="4" char="3"></div>
          <div class="grid-square" word="4" char="4"></div>
          <div class="grid-square" word="4" char="5"></div>
          <div class="grid-square" word="5" char="1"></div>
          <div class="grid-square" word="5" char="2"></div>
          <div class="grid-square" word="5" char="3"></div>
          <div class="grid-square" word="5" char="4"></div>
          <div class="grid-square" word="5" char="5"></div>
          <div class="grid-square" word="6" char="1"></div>
          <div class="grid-square" word="6" char="2"></div>
          <div class="grid-square" word="6" char="3"></div>
          <div class="grid-square" word="6" char="4"></div>
          <div class="grid-square" word="6" char="5"></div>
        </div>
      </div>
      <div class="keyboard">
        <div class="top-third">
          <div class="top letter q">Q</div>
          <div class="top letter w">W</div>
          <div class="top letter e">E</div>
          <div class="top letter r">R</div>
          <div class="top letter t">T</div>
          <div class="top letter y">Y</div>
          <div class="top letter u">U</div>
          <div class="top letter i">I</div>
          <div class="top letter o">O</div>
          <div class="top letter p">P</div>
        </div>
        <div class="bottom-third">
          <div class="bottom letter a">A</div>
          <div class="bottom letter s">S</div>
          <div class="bottom letter d">D</div>
          <div class="bottom letter f">F</div>
          <div class="bottom letter g">G</div>
          <div class="bottom letter h">H</div>
          <div class="bottom letter j">J</div>
          <div class="bottom letter k">K</div>
          <div class="bottom letter l">L</div>
          <div class="bottom enter">ENTER</div>
          <div class="bottom letter z">Z</div>
          <div class="bottom letter x">X</div>
          <div class="bottom letter c">C</div>
          <div class="bottom letter v">V</div>
          <div class="bottom letter b">B</div>
          <div class="bottom letter n">N</div>
          <div class="bottom letter m">M</div>
          <div class="bottom delete">DELETE</div>
        </div>
      </div>
    </div>
  </body>
</html>
