body {
  background-color: black;
  color: white;
  height: 100vh;
  display: grid;
  place-items: center;
}
.login {
  border: 5px solid purple;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 325px;
  align-items: center;
  position: relative;
}
h1 {
  margin: 0;
  padding: 20px 0 20px;
  text-align: center;
  font-size: 26px;
}
p {
  font-weight: bold;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 5px;
}
input {
  width: 100%;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid gray;
}
.error {
  color: red;
  font-size: 12px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, 0);
}
/* These two came from stackoverflow, I don't understand them but their purpose is to keep the styles the same when chrome autofills your shit */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px black inset;
  -webkit-text-fill-color: white;
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px black inset;
  -webkit-text-fill-color: white;
}
.login-form {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-button {
  background: purple;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 10px;
  height: 30px;
  width: 100%;
  margin-top: 20px;
}
.links {
  position: absolute;
  top: 71%;
  left: 9%;
  padding-top: 20px;
}
.links a {
  color: #6d706e;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
}
